body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: crosshair;
}

body {
    cursor: crosshair;
}

header,
main,
footer {
    display: inline-block;
    width: 1000px;
    margin-left: 0 calc(50% - 500px);
    
body > * {
    margin-bottom: 60px;

}

body > *:nth-child(2) {
    margin-bottom: 0;
}
}

img {
    float: left;
}

nav {
    float: right;

}

nav > a {
    color:#333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}

nav > a:first-child {
    margin:0;

}

nav > a:hover {
        text-decoration: underline;
        color: #649;
        cursor: crosshair;


    }
main {
    margin-top: 60px;
    margin-bottom: 60px;
}
div {
    float: left;
}
div > a {
    background-color: yellowgreen;
}
p {
    float: right;
}