body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
main,
footer {
    display: inline-block;
    width: 1000px;
    margin-left: 0 calc(50% - 500px);
    
    
}

img {
    float: left;
}

nav {
    float: right;

}

a {
    color:#333;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

a:first-child {
    margin:0;
